head{
    display: inline-block;
}
#epicodeLogo { /* queste regole sono per il logo, ho messo un id di prova, margini da aggiustare una volta che abbiamo le pagine complete */
    width: 150px;
    margin-left: 4em;
    margin-top: 3em;
    padding-bottom: 10em;
}  
#timer{
    display: inline;
    margin-left: 80em;
    
}
img{
    display: inline;
}
body {
    background-image: url(../imgs/bg.jpg);
    background-size: cover;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: white;
}
h1 {
    font-family: "Outfit", sans-serif;
    font-size: 50px;
    font-weight: 200;
}
span{
    font-weight: bold;
}


main,footer{
    text-align: center;
}
.button {
    width: 400px;
    height: 5em;
  background-color: transparent;
  border-radius: 50px 50px 50px 50px; 
  box-shadow:  -1px -5px 3px -3px #FFFFFF;
  cursor: pointer;
  color: white;
  transition: all 0.3s;   
  margin: 1em; 
  
}
.button:hover {
    background-color:  #c90090;
    border-color: #c61895;
}
#questionCounter h1{
    font-size: 20px;
    padding-top: 5em;
    padding-bottom: 3em;
}
#totalQuestions{
    color: #D20094;
}
main {
    width: 100%;
    margin-top: 4%;   
}


.traccia{
    stroke: lightgray;
    fill: none;
}
.progresso{
    fill: none;
    stroke: aqua;
    stroke-width: 10;
    
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}
#circleTimer{
    text-align: right;
    display: inline;
}
#circleTimer svg{
margin-left: 40em;
}