body {
  background-image: url("../imgs/bg.jpg");
  background-size: cover;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: white;

}

#epicodeLogo { /* queste regole sono per il logo, ho messo un id di prova, margini da aggiustare una volta che abbiamo le pagine complete */
  width: 150px;
  margin-left: 4em;
  margin-top: 3em;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  font-weight: bold;
}

#titolo{
  text-align: center;
}

#istruzioni{
  text-align: center;
}
.lista{
  text-align: center;
}

#proceedButton{
  background-color: #00FFFF;
  border-color: #00FFFF;
  box-shadow: 2px 0px 16px 0px #00FFFF;
  height: 40px;
  width: 120px;
}
footer{
  display: inline-block;
  padding-bottom: 5em; 
}
footer p{
  display: inline-block;
}
#inputFooter{
  display: inline-block;
   padding-left: 20em; 
}