body {
  background-image: url("../imgs/bg.jpg");
  background-size: cover;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
}

#epicodeLogo { /* queste regole sono per il logo, ho messo un id di prova, margini da aggiustare una volta che abbiamo le pagine complete */
  width: 150px;
  margin-left: 4em;
  margin-top: 3em;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  font-weight: bold;
}