body {
  background-image: url("../imgs/bg.jpg");
  background-size: cover;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: white;
}

#epicodeLogo { /* queste regole sono per il logo, ho messo un id di prova, margini da aggiustare una volta che abbiamo le pagine complete */
  width: 150px;  
  margin-top: 3em;
  margin-left: 4em;
}

#titolo {
  width:400px ;
  margin-top: 9%;
  margin-bottom: 2%;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 4.5em;
  font-weight: 400;
  margin: 0;
  
}

main, form {
  width: 60%;
  margin: auto;
}
main p {
  width: 480px;
  margin-bottom: 4%;
  margin-top: 5px;
  font-size: 14px;
}

li {
  padding-top: 1%;
  font-size: 14px;
}



h2 {
  color: rgb(194, 21, 141);
  margin-bottom: 0;
  
}

form {
  margin-top: 7%;
  margin-bottom: 100px;
}

label {
  margin-right: 17%;
}

button {
  margin-left: 85%;
  background-color: #00FFFF;
  border-color: #00FFFF;
  box-shadow: 2px 0px 16px 0px #00FFFF;
  height: 60px;
  width: 200px;
  border-style: none;
  font-size: 1.4em;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

ul span{
  font-weight: 700;
}
button:hover{
  cursor: pointer;
}