body {
    background-image: url(../imgs/bg.jpg);
    background-size: cover;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: white ;
}

h1 {
    font-family: "Outfit", sans-serif;
    font-size: 3.2em;
    font-weight: 700;
}

#epicodeLogo { /* queste regole sono per il logo, ho messo un id di prova, margini da aggiustare una volta che abbiamo le pagine complete */
    width: 150px;
    margin-left: 4em;
    margin-top: 3em;
}
#titolo{
    text-align: center;    
}
#titolo h1 , h2{
    margin: 0;
}
main{
    text-align: center;
    
}
.blocchi{
    display: inline-block;
    margin: 5%
}
#torta h3 {
    
}
footer{
    text-align: center;
}
button{
    background-color: rgb(38, 15, 84);
    border: solid 1px white;
    height: 60px;
    width: 220px;
    color: white;
    font-size: 1.4em;
    font-weight: 400;
    -webkit-box-shadow: -1px 2px 16px -6px rgba(250,250,250,1);
    -moz-box-shadow: -1px 2px 16px -6px rgba(250,250,250,1);
    box-shadow: -1px 2px 16px -6px rgba(250,250,250,1);
    margin-bottom: 300px;
    margin-top: 30px;

}
span{
    color: rgb(0, 255, 255);
}
#correct p{
    font-size: 3em;
    margin: 0;   
}
#wrong p{
    font-size: 3em;
    margin: 0;   
}

a{
    text-decoration: none;
    color: white;
}
.circle{
    fill: none;
    stroke: aqua;
    stroke-width: 15;
    transform: rotate(-90deg);
    stroke: dasharray 100 100 ;
    transform-origin: 50%;
    animation: rellenar;
    
}
secondoCerchio{
    stroke: magenta;
    stroke-width: 20;
}
